ul.ul-edu li {
  position: relative;
  padding: 0px 0px 0px 0px;
}

ul.ul-edu li .description p {
  margin: 0;
}

ul.ul-edu li .description p.course {
  font-size: 14pt
}

ul.ul-edu li .description p.institution {
  font-size: 0.95rem;
  margin-top: -10px;
  color: rgba(0,0,0,0.6);
}

.publication {
  margin-bottom: 10px;
  text-align: left;
  font-size: 12pt;
  line-height: 150%;
}

.publication .authors {
  line-height: normal;
  font-style: normal;
}

.publication .venue {
  line-height: normal;
  font-weight: bold;
}

.publication .title {
  font-weight: bold;
  color: #3170A5;
}

.publication-year {
  text-align: left;
  margin-bottom: 2px;
  margin-top: 20px;
  font-weight: bold;
}

.general-heading {
  text-align: left;
  margin-bottom: 2px;
  margin-top: 20px;
  font-weight: bold;
}
